<body>

  {{#amountSet}}
    <form action="/charge" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_mgELzZErVChjsS1eVUU6NlPD"
        data-amount="{{paymentAmount}}"
        data-name="Demo Site"
        data-image="/128x128.png">
      </script>
      <input type="hidden" name="paymentAmount" value={{paymentAmount}} />
      <input type="hidden" name="amountSet" value="false" />
    </form>
  {{/amountSet}}
  {{^amountSet}}
    <form action="/stripe" method="post">
      <bold>Payment amount: </bold>
      <input type="text" name="amount" value="2000">
      <input type="submit" value="Donate">
    </form>
  {{/amountSet}}



</body>
